// Header Styles
header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 25px;
    background-color: $red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h1 {
        font-size: 1.7em;
        margin: 0;
    }
    .search-div {
        position: relative;
        margin-top: 4px;

        #search {
            width: 45vw;
            border-radius: 4px;
            padding: 6px 8px;
            box-shadow: none !important;
            border:1px solid #ccc;
            font-size: 13px;

            &:focus {
                outline: none;
            }
        }
        #submit {
            background-color: $blue;
            color: $white;
            border-radius: 4px;
            border-color: transparent;
            padding: 2px 8px;
            font-family: $noto-sans;
            font-weight: 800;
            font-size: 1em;
            transform: translateY(3px);


            &:hover,
            &:focus,
            &:active {
                background-color: lighten($color: rgb(70, 70, 70), $amount: 20);
            }
        }

    }
    .button-div {
        margin-top: 7px;

        button {
            color: $white;
            border-radius: 4px;
            border-color: transparent;
            padding: 2px 8px;
            font-family: $noto-sans;
            font-weight: 800;
            font-size: 1em;

            &:hover,
            &:focus,
            &:active {
                background-color: lighten($color: rgb(70, 70, 70), $amount: 20);
            }
        }


        .trending {
            background-color: $purple;
        }
        .random {
            background-color: $green;
        }
    }
}
