// Resets

*{
    box-sizing: border-box;
}
// Img Reset
img {
    max-width: 100%;
    height: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// body reset

body {
    margin: 0;
}
// Type Styles

body, p{
    font-family: $rokkitt;
}

h1,h2,h3 {
    font-family: $noto-sans;
    color: $white;
}

h1,h2,h3, p {
    margin: 0;
}